/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

#app, section.profile header img, section.profile header h1, section.profile header h2, .loading {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

#app, section.profile, section.comments, .loading {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
  border-radius: 5px; }

#app {
  width: 95vw;
  margin: 5vw auto;
  position: absolute;
  z-index: -2; }
  @media (min-width: 1025px) {
    #app {
      margin: 20px auto; } }
  #app::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vw;
    content: "";
    background: #002C71;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    @media (min-width: 769px) and (max-width: 1024px) {
      #app::before {
        height: 18.5vw; } }
    @media (min-width: 1025px) {
      #app::before {
        height: 185px; } }

section.profile {
  width: 88vw;
  height: 74vw;
  margin: 11vw auto;
  margin-bottom: 5vw;
  text-align: center; }
  @media (min-width: 769px) and (max-width: 1024px) {
    section.profile {
      height: 37vw;
      margin: 7vw auto;
      margin-bottom: 2vw; } }
  @media (min-width: 1025px) {
    section.profile {
      height: 370px;
      margin: 70px auto;
      margin-bottom: 20px; } }
  section.profile header {
    position: relative;
    height: 25vw; }
    @media (min-width: 769px) and (max-width: 1024px) {
      section.profile header {
        height: 22vw; } }
    @media (min-width: 1025px) {
      section.profile header {
        height: 220px; } }
    section.profile header img {
      width: 22vw;
      height: 22vw;
      border-radius: 50%;
      position: absolute;
      top: -15vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile header img {
          width: 14vw;
          height: 14vw;
          top: 4vw;
          left: 4vw;
          margin: 0; } }
      @media (min-width: 1025px) {
        section.profile header img {
          width: 140px;
          height: 140px;
          top: 40px;
          left: 8vw;
          margin: 0; } }
    section.profile header .alert {
      width: 75vw;
      height: 6vw;
      border: 2px solid #002C71;
      font-size: 2.5vw;
      display: flex;
      position: absolute;
      top: 7vw;
      right: 7vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile header .alert {
          top: 1vw;
          right: 1vw; } }
      @media (min-width: 1025px) {
        section.profile header .alert {
          top: 150px;
          right: 10px;
          width: 750px;
          height: 60px;
          font-size: 25px; } }
      section.profile header .alert span {
        width: 20%;
        line-height: 6vw;
        color: #FFA640;
        font-weight: bold; }
        @media (min-width: 1025px) {
          section.profile header .alert span {
            line-height: 60px; } }
      section.profile header .alert input {
        height: 4vw;
        width: 75%;
        margin: 1vw auto;
        font-family: 'Montserrat', sans-serif;
        color: #8298B9; }
        @media (min-width: 1025px) {
          section.profile header .alert input {
            height: 40px;
            margin: 10px auto; } }
      section.profile header .alert button {
        width: 4vw;
        height: 4vw;
        margin: 1vw;
        background: #FFA640;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 2vw; }
        @media (min-width: 1025px) {
          section.profile header .alert button {
            width: 40px;
            height: 40px;
            margin: 10px;
            font-size: 20px; } }
    section.profile header div {
      width: 3vw;
      height: 3vw;
      color: #FFA640;
      position: absolute;
      top: 4vw;
      right: 4vw;
      font-size: 3vw; }
    section.profile header h1 {
      line-height: 7vw;
      font-size: 5.5vw;
      color: #002C71;
      position: absolute;
      top: 12vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile header h1 {
          line-height: 4.5vw;
          font-size: 3.5vw;
          top: 7vw;
          padding-left: 24.5vw;
          margin: 0;
          text-align: left; } }
      @media (min-width: 1025px) {
        section.profile header h1 {
          line-height: 45px;
          font-size: 35px;
          top: 70px;
          padding-left: 24.5vw;
          margin: 0;
          text-align: left; } }
      section.profile header h1 span {
        color: #D9D9D9;
        height: 3.5vw; }
    section.profile header h2 {
      line-height: 4.5vw;
      font-size: 3.75vw;
      color: #8298B9;
      position: absolute;
      top: 19vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile header h2 {
          line-height: 3vw;
          font-size: 2.5vw;
          padding-left: 24.5vw;
          margin: 0;
          text-align: left;
          top: 11.5vw; } }
      @media (min-width: 1025px) {
        section.profile header h2 {
          line-height: 30px;
          font-size: 25px;
          padding-left: 24.5vw;
          margin: 0;
          text-align: left;
          top: 115px; } }
  section.profile main {
    display: flex;
    flex-wrap: wrap;
    height: 49vw; }
    @media (min-width: 769px) and (max-width: 1024px) {
      section.profile main {
        height: 15vw; } }
    @media (min-width: 1025px) {
      section.profile main {
        height: 150px; } }
    section.profile main div {
      width: 33.33%;
      margin-top: 9vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile main div {
          width: 22%;
          margin-top: 0;
          margin-bottom: 5.5vw; } }
      @media (min-width: 1025px) {
        section.profile main div {
          width: 22%;
          margin-top: 0;
          margin-bottom: 27.5px; } }
      section.profile main div:nth-of-type(2) {
        border-right: 1px solid rgba(59, 59, 59, 0.1);
        border-left: 1px solid rgba(59, 59, 59, 0.1); }
      section.profile main div h3 {
        line-height: 9vw;
        font-size: 7.5vw;
        color: #FFA640; }
        @media (min-width: 769px) and (max-width: 1024px) {
          section.profile main div h3 {
            line-height: 5vw;
            font-size: 5vw; } }
        @media (min-width: 1025px) {
          section.profile main div h3 {
            line-height: 50px;
            font-size: 50px; } }
      section.profile main div h4 {
        font-size: 3vw;
        color: #8298B9; }
        @media (min-width: 769px) and (max-width: 1024px) {
          section.profile main div h4 {
            font-size: 2vw;
            line-height: 2vw; } }
        @media (min-width: 1025px) {
          section.profile main div h4 {
            font-size: 20px;
            line-height: 20px; } }
    section.profile main button {
      line-height: 5.5vw;
      font-size: 4.5vw;
      color: white;
      width: 78vw;
      height: 15vw;
      border-radius: 100px;
      background: #FFA640;
      font-weight: bold;
      margin: 0 auto;
      margin-top: 7vw;
      box-shadow: none;
      letter-spacing: 1.5vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.profile main button {
          width: 27vw;
          height: 9vw;
          line-height: 3.5vw;
          font-size: 3vw;
          margin: 0;
          letter-spacing: 1vw; } }
      @media (min-width: 1025px) {
        section.profile main button {
          width: 27vw;
          height: 90px;
          line-height: 35px;
          font-size: 30px;
          margin: 0;
          letter-spacing: 1vw; } }

section.comments {
  width: 88vw;
  padding: 8vw 0;
  margin: 5vw auto; }
  @media (min-width: 769px) and (max-width: 1024px) {
    section.comments {
      margin: 2vw auto;
      padding: 5vw 0; } }
  @media (min-width: 1025px) {
    section.comments {
      margin: 20px auto;
      padding: 50px 0; } }
  section.comments header {
    text-align: center;
    line-height: 5.5vw;
    font-size: 4.5vw;
    color: #FFA640;
    text-decoration: underline;
    margin-bottom: 3vw; }
    @media (min-width: 769px) and (max-width: 1024px) {
      section.comments header {
        text-align: left;
        padding-left: 8vw;
        line-height: 3.5vw;
        font-size: 3vw; } }
    @media (min-width: 1025px) {
      section.comments header {
        text-align: left;
        padding-left: 8vw;
        line-height: 35px;
        font-size: 30px; } }
  section.comments article {
    max-height: 100vw;
    overflow-y: scroll;
    padding-right: 5vw; }
    section.comments article::-webkit-scrollbar {
      width: 1.5vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.comments article::-webkit-scrollbar {
          width: 1vw; } }
      @media (min-width: 1025px) {
        section.comments article::-webkit-scrollbar {
          width: 1vw; } }
    section.comments article::-webkit-scrollbar-track {
      background: rgba(85, 85, 85, 0.3);
      border-radius: 10px; }
    section.comments article::-webkit-scrollbar-thumb {
      background: rgba(0, 17, 44, 0.12);
      border-radius: 10px; }
  section.comments footer {
    padding-left: 8vw;
    margin-top: 7vw;
    padding-right: 5vw; }
    section.comments footer textarea {
      border: none;
      border-bottom: 2px solid #8298B9;
      width: 100%;
      height: 7vw; }
      @media (min-width: 769px) and (max-width: 1024px) {
        section.comments footer textarea {
          height: 5vw; } }
      @media (min-width: 1025px) {
        section.comments footer textarea {
          height: 50px; } }
      section.comments footer textarea::placeholder {
        line-height: 6.5vw;
        font-size: 5.5vw;
        color: #8298B9;
        padding-left: 3vw; }
        @media (min-width: 769px) and (max-width: 1024px) {
          section.comments footer textarea::placeholder {
            line-height: 4.5vw;
            font-size: 3.5vw; } }
        @media (min-width: 1025px) {
          section.comments footer textarea::placeholder {
            line-height: 45px;
            font-size: 35px; } }

div.singleComment {
  padding-left: 8vw;
  margin-top: 5vw;
  border-bottom: 1px solid #EBEBEB;
  display: flex; }
  div.singleComment img.commentPhoto {
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 50%; }
    @media (min-width: 769px) and (max-width: 1024px) {
      div.singleComment img.commentPhoto {
        width: 8vw;
        height: 8vw; } }
    @media (min-width: 1025px) {
      div.singleComment img.commentPhoto {
        width: 80px;
        height: 80px; } }
  div.singleComment div {
    display: flex;
    flex-wrap: wrap;
    width: 87.5vw;
    padding: 4vw 2vw;
    padding-right: 0; }
    @media (min-width: 769px) and (max-width: 1024px) {
      div.singleComment div {
        padding: 2.5vw 2vw; } }
    @media (min-width: 1025px) {
      div.singleComment div {
        padding: 25px 2vw; } }
    div.singleComment div span.commentAuthor {
      width: 50%;
      text-align: left;
      line-height: 5.5vw;
      font-size: 4.5vw;
      color: #002C71; }
      @media (min-width: 769px) and (max-width: 1024px) {
        div.singleComment div span.commentAuthor {
          line-height: 3.5vw;
          font-size: 3vw; } }
      @media (min-width: 1025px) {
        div.singleComment div span.commentAuthor {
          line-height: 35px;
          font-size: 30px; } }
    div.singleComment div span.commentDate {
      width: 50%;
      text-align: right;
      line-height: 5.5vw;
      font-size: 4.5vw;
      color: #002C71;
      opacity: 0.5; }
      @media (min-width: 769px) and (max-width: 1024px) {
        div.singleComment div span.commentDate {
          line-height: 3.5vw;
          font-size: 3vw; } }
      @media (min-width: 1025px) {
        div.singleComment div span.commentDate {
          line-height: 35px;
          font-size: 30px; } }
    div.singleComment div span.commentContent {
      width: 100%;
      text-align: left;
      line-height: 6.5vw;
      font-size: 4.5vw;
      color: #444444;
      word-wrap: break-word; }
      @media (min-width: 769px) and (max-width: 1024px) {
        div.singleComment div span.commentContent {
          line-height: 4vw;
          font-size: 3vw; } }
      @media (min-width: 1025px) {
        div.singleComment div span.commentContent {
          line-height: 40px;
          font-size: 30px; } }

.loading {
  width: 88vw;
  margin: 5vw auto;
  padding: 20px 0;
  font-size: 4.5vw;
  text-align: center; }

* {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=main.css.map*/