%center{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

%boxes{
    background: $background_color2;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
}
