section.comments{
    width: 88vw;
    // height: 74vw;
    background: $background_color2;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
    margin: 0 auto;
    padding-top:  8vw;
    header{
        text-align: center;
        line-height: 18px;
        font-size: 14px;
        color: $main_color;
        text-decoration: underline;
    }
    article{
        max-height: 100vw;
        overflow-y: scroll;
        padding-right: 5vw;
        &::-webkit-scrollbar {
            width: 1.5vw;
        }

        &::-webkit-scrollbar-track {
            background: rgba(85,85,85,0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0,17,44,0.12);
            border-radius: 10px;
        }
    }
    footer{
        padding-left: 8vw;
        margin-top: 5vw;
        input{
            border: none;
            border-bottom: 2px solid $support_color;
            width: 65vw;
        }
    }
}
