div.singleComment{
    padding-left: 8vw;
    margin-top: 5vw;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    img.commentPhoto{
        width: 12.5vw;
        height: 12.5vw;
        border-radius: 50%;
        @include tablet{
            width: 8vw;
            height: 8vw;
        }
        @include desktop{
            width: 80px;
            height: 80px;
        }
    }
    div{
        display: flex;
        flex-wrap: wrap;
        width: 87.5vw;
        padding: 4vw 2vw;
        padding-right: 0;
        @include tablet{
            padding: 2.5vw 2vw;
        }
        @include desktop{
            padding: 25px 2vw;
        }
        span.commentAuthor{
            width: 50%;
            text-align: left;
            line-height: 5.5vw;
            font-size: 4.5vw;
            color: $names_color;
            @include tablet{
                line-height: 3.5vw;
                font-size: 3vw;
            }
            @include desktop{
                line-height: 35px;
                font-size: 30px;
            }
        }
        span.commentDate{
            width: 50%;
            text-align: right;
            line-height: 5.5vw;
            font-size: 4.5vw;
            color: #002C71;
            opacity: 0.5;
            @include tablet{
                line-height: 3.5vw;
                font-size: 3vw;
            }
            @include desktop{
                line-height: 35px;
                font-size: 30px;
            }
        }
        span.commentContent{
            width: 100%;
            text-align: left;
            line-height: 6.5vw;
            font-size: 4.5vw;
            color: $comments_color;
            word-wrap: break-word;
            @include tablet{
                line-height: 4vw;
                font-size: 3vw;
            }
            @include desktop{
                line-height: 40px;
                font-size: 30px;
            }
        }
    }
}
