section.comments{
    width: 88vw;
    padding: 8vw 0;
    margin: 5vw auto;
    @extend %boxes;
    header{
        text-align: center;
        line-height: 5.5vw;
        font-size: 4.5vw;
        color: $main_color;
        text-decoration: underline;
        margin-bottom: 3vw;
    }
    article{
        max-height: 100vw;
        overflow-y: scroll;
        padding-right: 5vw;
        &::-webkit-scrollbar {
            width: 1.5vw;
        }
        &::-webkit-scrollbar-track {
            background: rgba(85,85,85,0.3);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0,17,44,0.12);
            border-radius: 10px;
        }
    }
    footer{
        padding-left: 8vw;
        margin-top: 7vw;
        input{
            border: none;
            border-bottom: 2px solid $support_color;
            width: 70vw;
            height: 7vw;
            &::placeholder{
                line-height: 7vw;
                font-size: 5.5vw;
                color: $support_color;
            }
        }
        button{
            background: $background_color1;
            color: $background_color2;
            border-radius: 50%;
            font-size: 4.5vw;
            padding: 1.5vw;
        }
    }
}
