section.profile{
    width: 88vw;
    height: 74vw;
    margin: 11vw auto;
    margin-bottom: 5vw;
    text-align: center;
    @extend %boxes;
    header{
        position: relative;
        height: 25vw;
        img{
            width: 22vw;
            height: 22vw;
            border-radius: 50%;
            position: absolute;
            top: -15vw;
            @extend %center;
        }
        div{
            width: 3vw;
            height: 3vw;
            color: $main_color;
            position: absolute;
            top: 4vw;
            right: 4vw;
            font-size: 3vw;
        }
        h1{
            line-height: 7vw;
            font-size: 5.5vw;
            color: $names_color;
            position: absolute;
            top: 12vw;
            @extend %center;
            span{
                color: #D9D9D9;
                height: 3.5vw;
            }
        }
        h2{
            line-height: 4.5vw;
            font-size: 3.75vw;
            color: $support_color;
            position: absolute;
            top: 19vw;
            @extend %center;
        }
    }
    main{
        display: flex;
        flex-wrap: wrap;
        height: 49vw;
        div{
            width: 33.33%;
            margin-top: 9vw;
            &:nth-of-type(2){
                border-right: 1px solid rgba(59,59,59,0.1);
                border-left: 1px solid rgba(59,59,59,0.1);
            }
            h3{
                line-height: 9vw;
                font-size: 7.5vw;
                color: $main_color;
            }
            h4{
                font-size: 3vw;
                color: $support_color;
            }
        }
        button{
            line-height: 5.5vw;
            font-size: 4.5vw;
            color: white;
            width: 78vw;
            height: 15vw;
            border-radius: 100px;
            background: $main_color;
            font-weight: bold;
            margin: 0 auto;
            margin-top: 7vw;
            box-shadow: none;
        }
    }
}
