section.profile{
    width: 88vw;
    height: 74vw;
    margin: 11vw auto;
    margin-bottom: 5vw;
    text-align: center;
    @extend %boxes;
    @include tablet{
        height: 37vw;
        margin: 7vw auto;
        margin-bottom: 2vw;
    }
    @include desktop{
        height: 370px;
        margin: 70px auto;
        margin-bottom: 20px;
    }
    header{
        position: relative;
        height: 25vw;
        @include tablet{
           height: 22vw;
       }
        @include desktop{
            height: 220px;
        }
        img{
            width: 22vw;
            height: 22vw;
            border-radius: 50%;
            position: absolute;
            top: -15vw;
            @extend %center;
            @include tablet{
                width: 14vw;
                height: 14vw;
                top: 4vw;
                left: 4vw;
                margin: 0;
            }
            @include desktop{
                width: 140px;
                height: 140px;
                top: 40px;
                left: 8vw;
                margin: 0;
            }
        }
        div{
            width: 3vw;
            height: 3vw;
            color: $main_color;
            position: absolute;
            top: 4vw;
            right: 4vw;
            font-size: 3vw;
        }
        h1{
            line-height: 7vw;
            font-size: 5.5vw;
            color: $names_color;
            position: absolute;
            top: 12vw;
            @extend %center;
            @include tablet{
                line-height: 4.5vw;
                font-size: 3.5vw;
                top: 7vw;
                padding-left: 21.5vw;
                margin: 0;
                text-align: left;
            }
            @include desktop{
                line-height: 45px;
                font-size: 35px;
                top: 70px;
                padding-left: 21.5vw;
                margin: 0;
                text-align: left;
            }
            span{
                color: #D9D9D9;
                height: 3.5vw;
            }
        }
        h2{
            line-height: 4.5vw;
            font-size: 3.75vw;
            color: $support_color;
            position: absolute;
            top: 19vw;
            @extend %center;
            @include tablet{
                line-height: 3vw;
                font-size: 2.5vw;
                padding-left: 21.5vw;
                margin: 0;
                text-align: left;
                top: 11.5vw;
            }
            @include desktop{
                line-height: 30px;
                font-size: 25px;
                padding-left: 21.5vw;
                margin: 0;
                text-align: left;
                top: 115px;
            }
        }
    }
    main{
        display: flex;
        flex-wrap: wrap;
        height: 49vw;
        @include tablet{
            height: 15vw;
        }
        @include desktop{
            height: 150px;
        }
        div{
            width: 33.33%;
            margin-top: 9vw;
            @include tablet{
                width: 22%;
                margin-top: 0;
                margin-bottom: 5.5vw;
            }
            @include desktop{
                width: 22%;
                margin-top: 0;
                margin-bottom: 27.5px;
            }
            &:nth-of-type(2){
                border-right: 1px solid rgba(59,59,59,0.1);
                border-left: 1px solid rgba(59,59,59,0.1);
            }
            h3{
                line-height: 9vw;
                font-size: 7.5vw;
                color: $main_color;
                @include tablet{
                    line-height: 5vw;
                    font-size: 5vw;
                }
                @include desktop{
                    line-height: 50px;
                    font-size: 50px;
                }
            }
            h4{
                font-size: 3vw;
                color: $support_color;
                @include tablet{
                    font-size: 2vw;
                    line-height: 2vw;
                }
                @include desktop{
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
        button{
            line-height: 5.5vw;
            font-size: 4.5vw;
            color: white;
            width: 78vw;
            height: 15vw;
            border-radius: 100px;
            background: $main_color;
            font-weight: bold;
            margin: 0 auto;
            margin-top: 7vw;
            box-shadow: none;
            @include tablet{
                width: 27vw;
                height: 9vw;
                line-height: 3.5vw;
                font-size: 3vw;
                margin: 0;
            }
            @include desktop{
                width: 27vw;
                height: 90px;
                line-height: 35px;
                font-size: 30px;
                margin: 0;
            }
        }
    }
}
